<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row" *ngIf="heroes.length == 0">
    <div class="alert alert-info" role="alert"> 
        No existen resultados con el termino:{{ termino }}
    </div>

</div>

<div class="card-columns">

    <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes">

    </app-heroe-tarjeta>

        
</div>
