<h1 class="animated fadeIn fast">Sobre los Comics</h1>

<hr>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laudantium est eius voluptatibus, aliquam illum deserunt. Delectus ratione corrupti aspernatur exercitationem, aliquam debitis magnam consequuntur. Vel error qui optio magni?
</p>