<h1>Heroes <small>Marvel & DC</small></h1>
<hr>

<div class="card-columns">
<!--*ngFor="let heroe of heroes; let i = index"-->
 <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index">

 </app-heroe-tarjeta>
        
</div>
